.team-details-style {
background-color: rgb(250, 249, 249);
}
.details-card {
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 5rem;
}
.details-card p {
    font-size: 1.5rem;
}
.details-article {
    margin-top: 2rem;
    font-size: 1.15rem;
}
.footer {
    margin-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}
.details-header {
    text-align: center;
}
.team-details {
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
}